doctype html
html
  head
    title CV - Christophe Fajardo
    meta(charset='UTF-8')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', rel='stylesheet', integrity='sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1', crossorigin='anonymous')
    link(rel='stylesheet', href='styles/document.css')
    script(src='https://code.jquery.com/jquery-3.1.0.min.js')
    script(src='https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js')
  body
    h1.ui.header(style='background:linear-gradient(to bottom right, red, orange);color:white;padding-left:10px;padding-top:15px')
      img.ui.segment.small.image(src='images/Portrait.png', style='background:white;')
      .content
        strong Christophe Fajardo
        .sub.header Lead developer
    .ui.grid
      .ui.five.wide.column.inverted(style='background:#2E2E2E;margin-left:10px;color:white')
        .ui.orange.dividing.header
          .content Contact
        p
          strong Christophe Fajardo
          br
          |  9 Avenue du docteur Pramayon
          br
          |  Villa 5 - Clos de la Marjolaine
          br
          |  13690 Graveson
          br
          |  Phone : +33 (0)6 79 12 65 48
          br
          |  Email : 
          a(href='mailto:fajardo.christophe@gmail.com') fajardo.christophe@gmail.com
          br
          |         Twitter : 
          a(href='https://twitter.com/fajard_c') @fajard_c
          br
          |  GitHub : 
          a(href='https://github.com/cfajardo') github.com/cfajardo
        .ui.orange.dividing.header
          .content Personal information
        p
          | Birth date : 24 mai 1980
          br
          |  Nationality : French
          br
          |  Relationship status : Married
          br
          |  Driving license : B European license
        .ui.orange.dividing.header
          .content Langages
        p French, English
        .ui.orange.dividing.header
          .content Activities
        p Sport, new technologies, programming.
      .ten.wide.column(style='background:white')
        .ui.orange.dividing.header
          .content
            i.tag.icon
            |  Profile
        .ui.raised.segment
          p
            | Autonomous, enthusiast, proactive and highly interested in technical challenges. I love automatizing and optimizing my environment to work faster and efficiently. I also love sharing my knowledge and discoveries with my coworkers.
          p
            | I often do some technology watch on my spare time. Currently i'm working on a Gameboy emulator written in Go/Opengl/WebGL/GopherJS and some personnal Full stack web apps written in Go/Vue.js/SemanticUI/Bootstrap/ElectronJS.
        br
        .ui.orange.dividing.header
          .content
            i.bar.chart.icon
            |  Professional experiences
        .ui.raised.segment
          a.ui.orange.ribbon.label Lead developer at Eureka Technology from 12/2008 to Today
          p
            | Eureka Technology is a real time transport/logistic management software editor. Dispatch software package, is composed by:
          .ui.middle.aligned.list
            .item
              i.right.triangle.icon
              .content
                | a Windows client to create/manage transport orders and server written in .NET/C# connected to a SQL Server Database.
            .item
              i.right.triangle.icon
              .content
                | an Android client to send transport order to drivers, track package status change, track drivers location, track drivers effective working time.
            .item
              i.right.triangle.icon
              .content
                | a web client for final customers to help them create and track their orders.
            .item
              i.right.triangle.icon
              .content
                | a location server that store and compute location data.
          p
            | Job description:
          .ui.middle.aligned.list
            .item
              i.right.triangle.icon
              .content
                | Responsible of design and development of new features into a huge real time software package.
                .ui.middle.aligned.list
                  .item
                    i.right.triangle.icon
                    .content
                      | Working time management.
                  .item
                    i.right.triangle.icon
                    .content
                      | Subcontractor billing management.
                  .item
                    i.right.triangle.icon
                    .content
                      | Air France to Dispatch solution order integration and order real time status update. Soap WebService.
                  .item
                    i.right.triangle.icon
                    .content
                      | Unilever to Dispatch solution order integration and real time status update. RESTFull WebService
            .item
              i.right.triangle.icon
              .content
                | Responsible of continuous integration of Dispatch's software solution and external modules.
                .ui.middle.aligned.list
                  .item
                    i.right.triangle.icon
                    .content
                      | Compilation automation with MSBuild/TeamCity.
                  .item
                    i.right.triangle.icon
                    .content
                      | Databases schemas integrity checks automation (Tables/Indexes/Views/Stored procedures/CLR Functions) between development, test, integration and production environments. MSBuild/TeamCity
                  .item
                    i.right.triangle.icon
                    .content
                      | Unit tests automation with TeamCity/MSTest.
                  .item
                    i.right.triangle.icon
                    .content
                      | Code coverage automation with dotCover/TeamCity.
                      br
                      br
                  .item
                    i.right.triangle.icon
                    .content
                      | Dispatch's incremental update packages building automation (Binary and database migration scripts). TeamCity/SSDT/MSBuild
                  .item
                    i.right.triangle.icon
                    .content
                      | Real time continuous integration issues reporting (after git merge request validation) and real time alerting with Slack.
            .item
              i.right.triangle.icon
              .content
                | Responsible of continuous deployment of Dispatch software solution and external modules on test and integration environments.
            .item
              i.right.triangle.icon
              .content
                | Team management (two to four developers)
                .ui.middle.aligned.list
                  .item
                    i.right.triangle.icon
                    .content
                      | Agile method setting up (Scrum).
                  .item
                    i.right.triangle.icon
                    .content
                      | Daily team management as Scrum master.
                  .item
                    i.right.triangle.icon
                    .content
                      | Daily project progress follow-up with Tuleap.
                  .item
                    i.right.triangle.icon
                    .content
                      | Daily activity report to product owners.
                  .item
                    i.right.triangle.icon
                    .content
                      | Technical support's procedures writting.
                  .item
                    i.right.triangle.icon
                    .content
                      | Code review before git merge request validation.
                  .item
                    i.right.triangle.icon
                    .content
                      | Company's programming guide line writting and validation.
                      .ui.middle.aligned.list
                        .item
                          i.right.triangle.icon
                          .content
                            | Coding style writting.
                        .item
                          i.right.triangle.icon
                          .content
                            | Git workflow and feature/fix/release branches naming convention writting.
                        .item
                          i.right.triangle.icon
                          .content
                            | Dispatch's internal framework best practice and guide line writting.
            .item
              i.right.triangle.icon
              .content
                | Project management.
                .ui.middle.aligned.list
                  .item
                    i.right.triangle.icon
                    .content
                      | Functional specification writting assistance.
                  .item
                    i.right.triangle.icon
                    .content
                      | Technical specification writting.
                  .item
                    i.right.triangle.icon
                    .content
                      | Issue management with Mantis bug tracker.
                  .item
                    i.right.triangle.icon
                    .content
                      | Functional and technical documentation writting.
                  .item
                    i.right.triangle.icon
                    .content
                      | Operational acceptance testing.
                  .item
                    i.right.triangle.icon
                    .content
                      | Integration tests follow-up.
                  .item
                    i.right.triangle.icon
                    .content
                      | User test acceptance follow-up.
                  .item
                    i.right.triangle.icon
                    .content
                      | Production deployment onto customer's servers.
          a.ui.orange.ribbon.label Developer from 06/2008 to 12/2008 at Ungi
          div
            | Features development and support on web apps written in Perl or Php.
        .ui.orange.dividing.header
          .content
            i.bar.chart.icon
            |  Education
        .ui.raised.segment
          a.ui.orange.ribbon.label IT Master (BAC+5) 2009. Epitech - Paris, France.
          div
            p
              | Studied programming langage: C/UNIX, C++, PHP/MySQL, PSQL/ORACLE SQL, x86 Assembly.
            p
              | Development environment: BSD, Solaris, Linux, Windows, Alpha Station.
            p
              | Course:
            .ui.middle.aligned.list
              .item
                i.right.triangle.icon
                .content
                  | Partial libc rewritting in C (strlen, strchr, memset, memcpy, strcmp, memmove, strncmp, strcasecmp, rindex, read, write, strstr, strcspn, Malloc, Printf, ...).
              .item
                i.right.triangle.icon
                .content
                  | Partial libc rewritting in x86 assembly (strlen, strchr, memset, memcpy, strcmp, memmove, strncmp, strcasecmp, rindex, read, write, strstr, strcspn).
              .item
                i.right.triangle.icon
                .content
                  | UNIX tools rewritting in C (nm/objdump, ls, cat, select, script, ...).
              .item
                i.right.triangle.icon
                .content
                  | Client/Server programming in C/C++ (IRC Client/Server, FTP Client/Server, A multiplayer game Client/Server, HTTP 1.1 server)
              .item
                i.right.triangle.icon
                .content
                  | A 100% compatible 
                  a(href='https://en.wikipedia.org/wiki/Core_War') Core War
                  |  virtual machine.
              .item
                i.right.triangle.icon
                .content
                  | Langage theory : an educational langage (named KOOC) compiler. Written with a tool chain named Codeworker (BNF described parser, AST manipulation tools and output templates)
              .item
                i.right.triangle.icon
                .content
                  | x86 micro-kernel in x86 assembly/C
              .item
                i.right.triangle.icon
                .content
                  | End-of-studies project : Rathaxes. A domain specific langage for device drivers. The main goal was to describe a device driver and then compile it for multiple target operating systems (Windows/OpendBSD/Linux)
          a.ui.orange.ribbon.label Higher National Diploma - Developer
          div
            | 2006. Lycée Paul Louis Courrier - Tours, France.
          a.ui.orange.ribbon.label Science Baccalaureate - Mathematics speciality
          div
            | 2003. Lycée Charles Péguy - Orléans, France.
        .ui.orange.dividing.header
          .content Main technical skills
        .ui.raised.segment
          a.ui.orange.ribbon.label Programming langages
          table.ui.table
            tbody
              tr
                td C#
                td 8 years
                td Mastery
              tr
                td SQL/T-SQL
                td 9 years
                td Mastery
              tr
                td Go(lang)
                td 1 year
                td Intermediary
              tr
                td Javascript
                td 2 years
                td Intermediary
          a.ui.orange.ribbon.label Development tools and environments
          table.ui.table
            tbody
              tr
                td Visual Studio
                td 8 years
                td Mastery
              tr
                td Git
                td 3 years
                td Mastery
              tr
                td GitLab
                td 2 years
                td Mastery
              tr
                td TeamCity
                td 2 years
                td Mastery
              tr
                td Docker
                td 1 years
                td Intermediary
